In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("total_without_png.csv")
data.head()

,Id,Shape,Weight,Clarity,Colour,Cut,Polish,Symmetry,Fluorescence,Length,Width,Depth,Price
0,111000-5962,CUSHION,1.01,I2,FANCY,EX,VG,VG,N,5.89,5.63,3.53,1155.27
1,111000-6281,CUSHION,1.19,I2,FANCY,EX,VG,GD,M,5.97,5.59,3.80,3638.36
2,111000-6305,OVAL,1.00,SI2,U-V,EX,EX,VG,M,8.47,5.39,3.42,2237.73
3,111000-6320,PEAR,1.01,SI2,E,EX,VG,VG,N,9.39,5.52,3.24,2953.85
4,111000-6368,CUSHION,1.01,SI2,FANCY,VG,VG,GD,ST,6.10,5.36,3.48,2241.67

In [6]:
for i in range(len(data) - 1):
    if data["Id"][i] == data["Id"][i+1]:
        print(i, data["Id"][i])

219 1610237

In [8]:
file = open("total_without_png.csv", "r")
output = open("final.csv", "w")
output.write(file.readlines()[0])

89

In [9]:
file.close()

In [10]:
data = data.to_numpy()

In [12]:
data = list(data)
data.pop(220)
data.pop(219)

array(['1610237', 'CUSHION', 0.52, 'SI1', 'FANCY', 'EX', 'VG', 'VG', 'ST',
       4.6, 4.4, 2.99, 1142.98], dtype=object)

In [13]:
for line in data:
    output.write(",".join(map(str, line)) + "\n")

In [14]:
output.close()